input,
textarea {
  width: 100%;
  max-width: 500px;
  padding: 15px 25px;
  border-color: #eaeaea;
  border-style: inset;
  border-width: 2px;
  box-shadow: inset 1px 1px 3px black;
  margin: 10px 0 !important;
}
button.bg-accent.submit {
  width: 100%;
  max-width: 500px;
  border: none;
  padding: 10px;
}
