.triangle {
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background: #555555;
    mix-blend-mode: screen;
    width: 250px;
    height: 250px;
    top: 0;
    right: 0;
}
img.logo-triangle {
    width: 150px;
    height: 150px;
    top: 20px;
    right: 20px;
}